body {
    background-color: #111111;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
}

h1, h3 {
    color: #ffd700;
}

img {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.button {
    background-color: green;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
}